$p-color: rgba(100, 30, 200, .9);
$p-shadow: rgba(135, 30, 255, .6);
$s-color: rgba(47, 203, 252, 0.9);
$s2-color: rgba(47, 166, 252, 0.9);
$s-grad: linear-gradient($s-color, $s2-color);
$l-gray: rgb(240, 240, 240);
* {
  font: 1rem Verdana, 'Gill Sans';
  position: relative;
}
main {
  top: 0;
  height: 340px;
  overflow-y: scroll;
  float: left;
  background: $l-gray;
  width: 100%;
}

p {
  background: $s-grad;
  border-radius: 5px;
  color: white;
  small {
    font-size: .65rem;
    text-align: center;
    color: black;
    display: block;
    width: 100%;
    background: $l-gray;
  }
}

div {
  width: 100%;
  max-width: 100%;
  min-width: 280px;
  display: inline-block;
  clear: both;
  border-top: $p-color 2px solid;
}

input, button {
  height: 48px;
  border: none;
  color: white;
  border-radius: 5px;
  &:hover, &:focus {
    color: $p-color;
  }
}
input {
  width: 77%;
  line-height: 48px;
  min-width: 150px;
}
button {
  width: 17.5%;
  min-width: 60px;
  margin-left: .15%;
  background: $p-color;
  -webkit-box-shadow: 0 2px 1px 0 $p-shadow;
  box-shadow: 0 2px 1px 0 $p-shadow;

  &:focus, &:hover {
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 $p-shadow;
    box-shadow: 0 2px 2px 0 $p-shadow;
  }
}
strong {
  color: $p-color;
}
